<div class="container pt-5">
  <div class="d-flex align-items-center justify-content-space-evenly flex-wrap">
    <div class="col-md-5 col-sm-10">
      <app-hero-card [hero]="heroes ? heroes[0] : undefined" player="1"></app-hero-card>
    </div>
    <div class="col-md-2 col-sm-10">
      <div class="text-center">
        <h1>VS</h1>
        <h3>Placar</h3>
      </div>
    </div>
    <div class="col-md-5 col-sm-10">
      <app-hero-card [hero]="heroes ? heroes[1] : undefined" player="2"></app-hero-card>
    </div>
  </div>
</div>