.transform-character-1 {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.transform-character-2 {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.transform-character-1,
.transform-character-2 {
    filter: drop-shadow(0px 0px 12px #ffffff);
}

.bg-red{
    background: rgb(117,0,0);
    background: radial-gradient(circle, rgba(117,0,0,1) 0%, rgba(166,20,20,1) 100%);
}