<div class="bg-dark position-relative overflow-hidden" style="height: 100vh">
  <div class="bg-light h-100 transform-character-1"></div>
  <div class="bg-primary h-100 transform-character-2"></div>
  <form class="position-absolute w-100" style="top: 70%"> 
    <div class="row justify-content-center align-items-center m-0">
      <div class="col-md-5 col-lg-3">
        <app-search-input placeholder="Jogador 1" (hero)="onHeroChange($event)"></app-search-input>
      </div>
      <div class="col-md-2 col-lg-1">
        <h3 class="text-center text-white font-weight-bold my-3">VS</h3>
      </div>
      <div class="col-md-5 col-lg-3">
        <app-search-input placeholder="Jogador 2" (hero)="onHeroChange($event)"></app-search-input>
      </div>
    </div>
    <div class="row justify-content-center mx-0 my-5">
      <button type="button" class="btn btn-lg btn-outline-danger px-5">START</button>
    </div>    
  </form>
</div>